# Everything (Basics)

* Libraries

In [ ]:
# import pandas as pd
# import numpy as np
# import seaborn as sns
# import functools
# import matplotlib.pyplot as plt

* Read CSV as dataframe & Writing as CSV

In [ ]:
# df = pd.read_csv("D:/Code_folder/dataset.csv")   Read CSV from a directory
# df = pd.read_csv("./dataset.csv")                Read CSV if coding is done in same directory
# df = df.to_csv("new.csv")                        Writing as CSV

* Get Idea of columns and its datatypes

In [2]:
# df.head()
# df.info()
# df.describe()
# df.dtypes

* Convert datatype

In [6]:
# df['WGHT1'] = df['WGHT1'].astype(dtype=np.int64)  BUT This doen't work for string to numeric conversion
# df = df.convert_objects(convert_numeric=True)

* Slicing Rows & Columns

In [ ]:
# df = df.ix[ :4, :]                          Slicing only rows(till index 4)
# df = df.ix[ :4, 1:4]                        Slicing rows and columns(rows=4, col 1-4, excluding 4)
# df = df.loc[:, ['deidnum', 'visit', 'meanwt']]   Selection of particular columns

# df = df.iloc[:2]                            select first 2 rows
# df = df.loc[:, ['A','C']]                   select all rows for selective columns
# t = tgrams.loc[:,"tgrams"]                  
# df = df.loc[['a','b','f','h'],['A','C']]    select few rows for multiple columns
# df = df.loc[df.visit == "Month 1"]          select all rows for a particular column
# df = df.loc[df['deidnum'] == 903]

* Dropping Columns

In [ ]:
# df = df.drop(df.columns[3:8],axis=1)                      dropping columns from index 3 to 7 (with 8 exclusive)
# df = df.drop(df.iloc[:, 53:], inplace = True, axis = 1)   dropping columns from index 0 to 52 (with 53 exclusive)
# df = df.drop(["pagenum", "visit", "nndsdays"], inplace = True, axis = 1)
# df = df.drop(['pagenum', 'subvisit', 'wtdt'], axis = 'columns', inplace = True)

* Dropping Rows with Null values

In [ ]:
# df = df.dropna(how = 'all', axis=0, inplace = True)   Dropping rows having every value = Null of any type 
# df = df.dropna(thresh = 5)                            Dropping rows having less than 5 values

* Make a list having all the columns as list elements

In [ ]:
# df = df.columns.values.tolist()

* Turn column converted to list here

In [4]:
# age_list = df["age"].tolist()

* Pivot Table

In [ ]:
# data = pd.pivot_table(df, values=['tgrams'], index=['deidnum'], columns=['visit'], aggfunc=np.sum)

* Resetting Index

In [ ]:
# df.set_index("deidnum", inplace=True)

# columnsTitles = ["BL Sub 1", "BL Sub 2", "Month 1", "Month 3", "Month 6", "Month 9", "Month 18", "Month 24"]
# df = df.reindex(columns=columnsTitles)

* Re-ordering Columns

In [ ]:
# df = df.reorder_levels(['BL Sub 1', 'BL Sub 2', 'Month 1', 'Month 3', 'Month 6', 'Month 9', 'Month 18', 'Month 24'] , axis=1)
# df

* Dropping Dupicate entries in a particular column

In [ ]:
# df = df.drop_duplicates(subset ="meanwt", keep = False, inplace = True) 
# df = df[df.duplicated(['meanwt'], keep=False)]

* Merging 2 dataframes

In [5]:
# baseline_merge_month24 = baseline.merge(month_24, on=['deidnum'], suffixes=('_baseline','_month24'))
# baseline[baseline.deidnum.isin(month_24.deidnum.values)]

* Merging Multiple Dataframes

In [ ]:
# data_frames = [baseline, month_6, month_12, month_18, month_24]    "Each element represents one dataframe"
# df_merged = functools.reduce(lambda  left, right: pd.merge(left, right, on=['deidnum'], how='outer'), data_frames)

* Generating a scatter plot

In [ ]:
# plt.scatter(df['Glucose'], df['DiabetesPedigreeFunction'], color='red')
# plt.title('Glucose Vs Diabetes Pedigree Function', fontsize=14)
# plt.xlabel('Glucose', fontsize=14)
# plt.ylabel('Diabetes Pedigree Function', fontsize=14)
# plt.grid(True)
# plt.show()

* Generating a Heat-map

In [ ]:
# corr = df.corr()
# corr
# sns.heatmap(corr, 
#          xticklabels=corr.columns, 
#          yticklabels=corr.columns)